---
title: Digital Service Catalogue
---


<div class="govuk-width-container product-page-!-border-bottom">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="/">Architecture Team</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__link" href="/catalogue">Service Catalogue</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Digital Service Catalogue</h1>
        <p class="app-collection__description govuk-body-l">
          Technologies you can use to build and run Government services
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="api-management">
          <a class="govuk_link" href="https://developer.service.digitalni.gov.uk">API Management<a>
        </h2>
        <p class="govuk-body">
          Discover, test and then use our APIs to speed up development, prevent duplication and reduce cost.
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="#usage-tracking">
          <a class="govuk_link" href="https://usage-tracking.service.digitalni.gov.uk">
            Usage Tracking
            <a>
        </h2>
        <p class="govuk-body">Capture and report on different types of business events within your service.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="#documentation-configuration">
          <a class="govuk_link" href="https://repository.service.digitalni.gov.uk">
            Documentation and Configuration
            <a>
        </h2>
        <p class="govuk-body">Store your code and documentation in single location and build deployment pipelines.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="#audit">
          <a class="govuk_link" href="https://audit.digitalni.gov.uk">
            Audit Service
          <a>
        </h2>
        <p class="govuk-body">Store, search  and view system audit data in a central repository.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="#customer-identity">
          <a class="govuk_link" href="https://ext-identity.service.digitalni.gov.uk">
            Customer Identity Hub
          <a>
        </h2>
        <p class="govuk-body">Use federated identity to provide access to Government services.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="employee-identity">
          <a class="govuk_link" href="https://int-identity.service.digitalni.gov.uk">
            Employee Identity Hub
          <a>
        </h2>
        <p class="govuk-body">Use federated identity for staff and partner organisations.</p>
      </div>
    </div>

  </div>
</main>
